		<div class="fh5co-hero">
			<div class="fh5co-overlay"></div>
			<div class="fh5co-cover text-center" data-stellar-background-ratio="0.5" style="background-image: url(images/navyam-org-header.jpg);">
				<div class="desc animate-box">
					<h2><strong>Donate</strong> for the <strong>Poor Children</strong></h2>
<!-- 					<span>HandCrafted by <a href="http://frehtml5.co/" target="_blank" class="fh5co-site-name">FreeHTML5.co</a></span> -->
					<span><a class="btn btn-primary btn-lg" href="#">Get Involved</a></span>
				</div>
			</div>

		</div>